<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<style>
    table,td,th,tr{
    border:1px solid black;
    }
    *{
    background:lightgray;
    }
</style>
<h1>Baza audiobooków </h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nazwa audiobooka</th>
        <th>Ocena</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="Audiobook: ${booksKey2}">
        <td th:text="${Audiobook.id}" />
        <td th:text="${Audiobook.Name}" />
        <td th:text="${Audiobook.Rating}" />
    </tr>
    </tbody>
</table><br>


</body>
</html>